/* ? main rule ? */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  direction: rtl;
}
body {
  overflow-x: hidden !important;
  height: 3000px;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.m-color {
  color: #0e2978;
}

/* ====================== Start dashboard ====================== */
.dashboard-body {
  background-color: #f9f9f9;
}
.dashboard {
  min-height: 100vh;
  position: relative;
}

.dashboard-right {
  background-color: #2f49d1;
  min-height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  right: 0;
}

.dashboard-logo img {
  display: block;
  margin: 11px auto 5px auto;
}

.dashboard-logo span {
  color: #fff;
}

.dashboard-right hr {
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background-color: #fff;
  width: 100%;
}

.dashboard-right-list a {
  display: flex;
  color: #fff;
  margin-top: 20px;
  align-items: center;
}

.dashboard-right-list a span {
  display: block;
}


.dashboard-right-list li:first-child a span:last-of-type{
    display: block;
    margin-right: auto;
    width: 2px;
    height: 22px;
    margin-top: 7px;
    background: #fff;
}

.dashboard-right-list a img {
  display: block;
  margin-left: 14px;
  width: 15px;
}

.dashboard-right-list a i {
  font-size: 11px;
  display: block;
  margin-right: auto;
  margin-top: 7px;
}

/* left dashboard */
.dashboard-left {
  background-color: #f9f9f9;
  border-radius: 0 28px 28px 0;
  -webkit-border-radius: 0 28px 28px 0;
  -moz-border-radius: 0 28px 28px 0;
  -ms-border-radius: 0 28px 28px 0;
  -o-border-radius: 0 28px 28px 0;
  padding-right: 30px;
  position: relative;
  right: 18%;
}

.dashboard-left-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  
}

.dashboard-left-nav-content p span {
  display: block;
  color: #999999;
}

.dash-nav-input-search {
  width: 255px;
  max-width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 10px;
}

.dash-nav-input-search input {
  border: 0;
}

.dash-nav-input-search input::placeholder {
  font-size: 11px;
}

.dash-nav-input-search button {
  background-color: #2f49d1;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 0;
  width: 53px;
  height: 40px;
}

.dash-latest-products {
  margin-top: 10px;
}

.dash-latest-products span {
  font-size: 14px;
  color:#0e2978
}

.dash-latest-products a {
  color: #2f49d1;
  font-size: 17px;
}

.dash-latest-products-box {
  height: 221px;
  background-color: #fff;
  padding: 7px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}
.dash-latest-products-box > p {
  font-size: 12px;
}

.dash-latest-products-box img {
  max-width: 100%;
  height: 120px;
  display: block;
  margin: auto;
}

.product-code-price span {
  font-size: 13px;
}

.dash-product-box-brand a {
  width: 66px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f49d1;
  color: #fff;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  font-size: 12px;
}

/* Start dashboard  details */
.latest-orders-box {
  background: #fff;
  height: 240px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  padding-top: 10px;
}

.latest-orders-title {
  padding-right: 10px;
  padding-left: 10px;
}

.latest-orders-title a {
  font-size: 14px;
}

.latest-orders-title a i {
  font-size: 10px;
}

.latest-orders-table th {
  color: #bfbfbf;
  font-size: 13px;
  font-weight: normal;
  white-space: nowrap;
}

.latest-orders-table td {
  color: #858585;
  font-size: 13px;
  font-weight: normal;
  border-bottom: 0;
  margin-top: 20px;
}

.latest-orders-table td a {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #0e2978;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-size: 10px;
  padding-right: 2px;
  padding-top: 2px;
}

.dash-all-orders {
  height: 238px;
  background: #fff;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.dash-all-orders img {
  transform: rotate(-100deg);
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -ms-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  display: block;
  margin-top: 40px;
}

.dash-all-orders span:first-of-type {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 17px;
  font-weight: bold;
  color: #2f49d1;
}

.dash-all-orders span:last-of-type {
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #2f49d1;
}

.dash-latest-rate{
  height: 238px;
  background-color: #fff;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dash-latest-rate > span{
  color:#2f49d1;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
  width:100%;
}

.dash-rate-numbers{
  width:50%
}

.dash-rate-numbers .women{
  margin-bottom: 20px;
}

.dash-rate-numbers .women , .dash-rate-numbers .men{
  display: flex;
  align-items: center;
}

.dash-rate-numbers .women span:first-of-type , .dash-rate-numbers .men span:first-of-type {
  width: 14px;
  height: 14px;
  background-color: #2C365D;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: block;
  margin-left: 11px;
}

.dash-rate-numbers .men span:first-of-type{
  background-color: #2F49D1;
}

.dash-rate-numbers a {
  display: block;
  background-color: #F5F6FA;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  color:#A7A7A7;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  
}

.dash-rate-numbers a span{
  font-size: 14px;
}

.dash-rate-numbers a i{
  font-size: 10px;
  margin-right: 5px;
}


.dash-rate-chart{
  width:66px;
  text-align: center;
  height: 166px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  color:#fff;
  font-size: 15px;
  font-weight: bold;
}

.dash-rate-chart div:first-of-type{
  background-color: #2C365D;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.dash-rate-chart div:last-of-type{
  background-color: #2F49D1;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
/* End dashboard  details */



/* start trend box */
.trend-box{
  height: 208px;
  background:#fff;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  padding:7px;
}

.trend-box img{
 width: 100%;
 height: 120px;
 display: block;
}

.trend-price-id{
  margin-top: 7px;
  font-size: 14px;
}

.trend-box > p{
  font-size: 12px;
  margin:2px 0;
}

.trend-brand{
  margin-top: 5px;
}

.trend-brand span{
  font-size: 13px;
  color:#0e2978
}

.trend-brand a{
  background-color: #2f49d1;
  width: 62px;
  height: 22px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;

}


/* End trend box */


/* offers table */

.offers-price-box{
  height: 208px;
}

.offers-price-table td{
  padding:4px;
}


/* Responsive */

@media(max-width:992.98px){
  .dashboard-right{
   z-index: 9999
  }
  .dashboard-left-nav-content{
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-nav-input-search{
    margin:25px auto;
    padding-right: 0;
  }
  .dash-latest-products-box{
    margin-top: 35px;
  }
  .dash-all-orders{
    margin:40px auto;
  }
  .dashboard-right{
    position: fixed;
    right:-67%;
    transition:  0.5s , ;
    -webkit-transition:  0.5s , ;
    -moz-transition:  0.5s , ;
    -ms-transition:  0.5s , ;
    -o-transition:  0.5s , ;
    animation: menu-close 0.2s linear ;
    -webkit-animation: menu-close 0.2s linear ;
    right:-70%;
}

.dashboard-right.active{
  animation: menu-open 0.2s linear ;
  -webkit-animation: menu-open 0.2s linear ;
  right:0;
}


  .dashboard-left{
    position: static;
  }

  .open-menu{
    width: 50px;
    height: 50px;
    color: #2f49d1;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-size: 25px;
    position: fixed;
    left:20px;
    top:20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 3333;
}
  .trend-box{
    margin-bottom: 40px;
  }
}


@keyframes menu-open {
  from{
    right:-67%
  }
  to{
    right:0
  }
}

@keyframes menu-close {
  from{
    right:0
  }
  to{
    right:-70%
  }
}

/* ====================== End dashboard ====================== */
